<header class="sticky top-0 z-50 w-full bg-white/70 dark:bg-stone-950/70 backdrop-blur-2xl shadow-[0_20px_40px_rgba(27,28,28,0.06)]">
    <div class="flex justify-between items-center px-6 md:px-12 py-4 w-full max-w-screen-2xl mx-auto">
        <a href="{% url 'home' %}">
        <div class="text-2xl font-black text-stone-900 dark:text-stone-50 tracking-tighter font-['Space_Grotesk']">
            MatRox Residence
        </div>
        </a>
        <nav class="hidden md:flex items-center gap-8">
            <a class="text-orange-600 dark:text-orange-400 border-b-2 border-orange-600 pb-1 font-['Space_Grotesk'] font-bold tracking-tight" href="{% url 'home' %}">Explore</a>
            <a class="text-stone-600 dark:text-stone-400 hover:text-orange-500 font-['Space_Grotesk'] font-bold tracking-tight transition-all duration-300" href="{% url 'service' %}">Services</a>
            <a class="text-stone-600 dark:text-stone-400 hover:text-orange-500 font-['Space_Grotesk'] font-bold tracking-tight transition-all duration-300" href="{% url 'about' %}">About</a>
            <a class="text-stone-600 dark:text-stone-400 hover:text-orange-500 font-['Space_Grotesk'] font-bold tracking-tight transition-all duration-300" href="{% url 'contact' %}">Contact</a>
        </nav>
        <div class="flex items-center gap-4">
            <button class="material-symbols-outlined text-stone-600 hover:bg-stone-50 p-2 rounded-full transition-all">account_circle</button>
            <a class="bg-primary hover:bg-primary-container text-on-primary px-6 py-2.5 rounded-xl font-bold tracking-tight transition-transform active:scale-95" href="{% url 'contact' %}">
                Book Now
            </a>
        </div>
    </div>
</header>
